<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogFile="c:\Temp\NLogInternal.log"
    internalLogLevel="Warn">

    <extensions>
        <add assembly="NLog.Extended" />
        <add assembly="OneInc.ProcessOne.Libs.NLog.Extension" />
    </extensions>

    <variable name="event-property-xmlformat" value="&lt;Property&gt;&lt;Name&gt;[key]&lt;/Name&gt;&lt;Value&gt;[value]&lt;/Value&gt;&lt;/Property&gt;"/>
    <variable name="aspnet-request-remote-host-xmlformat" value="&lt;Property&gt;&lt;Name&gt;REMOTE_HOST&lt;/Name&gt;&lt;Value&gt;${CallHostAddressLayoutRenderer}&lt;/Value&gt;&lt;/Property&gt;"/>
    <variable name="applicationName" value="GreatAmericanTrucking Duplicate Policies Merge Tool"/>
    <variable name="logBasedir" value="${basedir}"/>
    <variable name="logDirectory" value="${logBasedir}/${applicationName}"/>

    <targets async="true">
        <target name="file"
            xsi:type="File"
            fileName="${logDirectory}/${applicationName}.OldFormatLog.${shortdate}.${machinename}.txt"
            archiveFileName="${logDirectory}/${applicationName}.OldFormatLog.{#}.${machinename}.zip"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="90"
            concurrentWrites="true"
            enableArchiveFileCompression="true"
            layout="[${longdate}] [${machinename}] [${level}] [${threadid}] [${CallHostAddressLayoutRenderer}] [${callsite}] ${newline} ${message} ${onexception:inner=${newline} ${exception:format=type,message,stacktrace:maxInnerExceptionLevel=5}} ${newline}" />
      <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="file"/>
      <logger name="*" minlevel="Info" writeTo="console"/>
    </rules>
</nlog>