<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageSources>
    <clear />
    <!-- ensure only the sources defined below are used -->

    <add key="One INC, Systems Packages" value="https://proget.oneinc.local/nuget/ProcessOne.NuGet/" />

    <add key="PolicyOne.NuGet" value="https://nuget.oneinc.local/nuget/PolicyOne.NuGet/" />

  </packageSources>
</configuration>